/* font header banner */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* abt pic styling */
#about_pic {
    border-radius: 20px;
    width: 230px;
    filter: drop-shadow(1px 1px 10px gray);
    align: left;
}

/* home pic styling */
#home_pic {
    border-radius:50%;
    width:330px; 
    filter: drop-shadow(2px 2px 4px gray);
}

/* heart shaking by abt page */
.heart {
    color: var(--md-accent-fg-color);;
    animation: shake 2s;
    animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* twitter color */
.twitter {
    color: #1DA1F2;
}

/* make h2 the accent color & underline */
h2 {
    color: var(--md-accent-fg-color);
    text-decoration: underline;
}

/* animation for main pg */
@keyframes quote {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}

.quote {
  font-size: 60%;
  color: var(--md-accent-fg-color);
  animation: quote 2000ms infinite;
}

/* header for banner */
.md-header__inner {
    letter-spacing: .5em;
    text-transform: lowercase;
    font-family: Raleway;
}

/* fix weird spacing between h1s*/ 
.md-typeset h1 { 
    margin: 0 0 0.5em 0 !important;
}

/* i wanted closer spacing in pubs page for h2s */
.pubs_honors h2 {
    margin: 1.0em 0 0.5em 0 !important;
}

/*contact form */

/* input text area */
input[type="text"], textarea {
    background-color: var(--md-default-bg-color);
    border: solid 1px;
    color: var(--md-default-fg-color);
    display: block;
    outline: 0;
    padding: 0 0.2em;
    text-decoration: none;
    font-family: inherit;
    width: 100%;
}

/* padding for box sizing */
#contact>.inner>:nth-child(2n - 1) {
    padding: 0em 3em 2em 0;
    width: 60%;
    z-index: 1;
}

/* input submission buttons */
input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    background-color: transparent;
    border: solid 1px;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px #fff;
    color: var(--md-default-fg-color);
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.5em;
    letter-spacing: .25em;
    line-height: 3.5em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    white-space: nowrap;
}

/* margin between form & buttons */
form>.actions {
    margin: 1.5em 0 0 0 !important;
}

/* contact buttons */
li.contact_buttons {
    display: inline-flex;
    margin: 1.5em 1.0em 0.2em 0 !important;
}

/* color change on contact buttons hover */
li.contact_buttons:hover {
    background-color: var(--md-primary-fg-color);
    transition: 0.3s;
}

/* no list decoration */
ul.actions {
    list-style: none;
}

/* labels on text over input areas */
.contact_labels {
    color: var(--md-default-fg-color);
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: .25em;
    margin: 1em 0em 0.2em 0;
    text-transform: lowercase;
}

/* adding red asterisk after labels on input text areas */
.contact_labels:after{
    content: "*";
    color: red;
}