.circle {
    border-radius: 1000px;
    border: 1px solid #FFDADA;
    background-color: #FFF8F8;
    width: 1000px;
    opacity: 0.8;
    z-index: 5;
    align-content: flex-start;
    height: 1000px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px;
}